input.no-outline-focus:focus {
    outline: 0;
}

.border-dashed {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--main-color)
}
.img-hover .layer {
    background-color: #7180e097;;
    opacity: 0;
    transition: 0.3s;
}
.img-hover:hover .layer {
    opacity: 1;
}

.btn-add {
    color: var(--dark-gray);
}

.btn-add:hover i {
    color: white;
}
