header {
    height: 30vh;
    background-image: url('../images/bg-03.jpg');
    background-position: center;
    background-size: cover;
}

.form-control:focus {
    box-shadow: none;
}

textarea:focus {
    outline: none;
}

.fit-content {
    width: fit-content;
}

.lh-24 {
    line-height: 24px;
}