footer {
    background-color: rgb(34, 34, 34);
}

footer a,
footer p {
    color: rgb(178, 178, 178);
}

footer button {
    width: fit-content;
}

footer .line {
    width: 0;
    height: 2px;
    transition: 0.5s;
}

footer input:focus {
    outline: none;
}

footer input:focus+.line {
    width: 100%;
}