.navbar {
    box-shadow: 0 4px 4px -5px gray;
    z-index: 999;
}

nav .nav-link {
    width: fit-content;
}

nav .nav-link,
nav i {
    color: var(--dark-gray);
    cursor: pointer;
    transition: 0.5s;
}

nav .navbar-nav .nav-link.active,
nav .nav-link:hover,
nav i:hover {
    color: var(--main-color);
}

nav .btn {
    --bs-btn-border-width: 0;
}

.offcanvas .btn-close {
    --bs-btn-close-focus-shadow: none;
}

.navbar-toggler span {
    width: 25px;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
}

.navbar-toggler span::before {
    content: "";
    position: absolute;
    background-color: var(--dark-gray);
    top: 0;
    left: 0;
    margin-top: -6px;
    width: 25px;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
}

.navbar-toggler span::after {
    content: "";
    position: absolute;
    background-color: var(--dark-gray);
    bottom: 0;
    left: 0;
    width: 25px;
    height: 3px;
    margin-bottom: -6px;
    transition: 0.5s;
    border-radius: 2px;
}

.navbar-toggler:focus {
    box-shadow: none;
}
